/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

MAIN-COLOR: #101d2c;
MAIN-LIGHT-COLOR: #404a56;
MAIN-DARK-COLOR: #0d1723;

SECONDARY-COLOR: #c69963;
SECONDARY-LIGHT-COLOR: #d1ad82;
SECONDARY-DARK-COLOR: #9e7a4f;

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: "Raleway", sans-serif;
  padding: 15px;
}

.container {
  width: 1300px;
  margin: 0 auto;
  background-color: #faf9f9;
  border-top: 10px solid #101d2c;
  border-bottom: 10px solid #101d2c;
}

header,
section {
  margin-bottom: 64px;
  padding: 30px;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}

.btn {
  background-color: #c69963;
  color: white;

  display: inline-block;
  padding: 10px 14px;

  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;

  border-radius: 10px;
}

.btn:hover {
  background-color: #b28551;
}

.btn--big {
  padding: 14px 20px;
  box-shadow: 0 5px 15px rgba(198, 153, 99, 0.747);
}

.btn--big:hover {
  box-shadow: 0 7px 20px #b28551;
}

.btn--big:active {
  background-color: #9e7a4f;
  color: #fadbb5;
  box-shadow: 0 2px 10px rgba(198, 153, 99, 0.747);
}

/* ------------------------ */
/* COMPONENT STYLES */
/* ------------------------ */

/* HEADER */
header {
  padding: 50px;
  background-color: #101d2c;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  margin-top: 30px;
}

.header-text-box {
  align-self: center;
}

h1 {
  margin-bottom: 32px;
  font-size: 45px;
  line-height: 1.2;
  letter-spacing: 1.4px;
  font-weight: 700;
  color: #c69963;
}

.header-text {
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 1.5px;
  color: #fff;
}

img {
  width: 100%;
  border-radius: 10px;
}

/* FEATURES */

h2 {
  font-size: 36px;
  margin-bottom: 48px;
  color: #c69963;
}

.features-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 28px;

  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
}

.features-icon {
  width: 52px;
  height: 52px;
  stroke: #9e7a4f;
  background-color: #e3ccb1;
  padding: 10px 10px;
  margin-bottom: 18px;
  border-radius: 100%;
}

.features-title {
  margin-bottom: 16px;
}

.features-text {
  text-align: center;
}

/* TESTIMONIAL */
.testimonial-section {
  background-color: #c69963b4;
  border-radius: 10px;

  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.4);
}

.testimonial-img {
  border: 15px solid #fff;
  padding: 18px;
}

.testimonial-box {
  grid-column: 2 / -1;
  align-self: center;
}

.testimonial-box h2 {
  color: #fff;
  margin-bottom: 24px;
}

.testimonial-text {
  color: #312617;
  font-style: italic;
  margin-bottom: 24px;
}

.testimonial-author {
  text-align: right;
  color: #58442a;
  font-weight: 600;
  margin-bottom: 24px;
}

/* CHAIRS */
.chair-section {
  background-color: #101d2c;
  margin-bottom: 0;
}

.chair {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 3px 6px 25px #d1ae8269;
}

.chair-box {
  padding: 24px;
  border-radius: 10px;
}

h3 {
  margin-bottom: 24px;
  color: #c69963;
}

.chair-details {
  list-style: none;
  margin-bottom: 24px;
}

.chair-details li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

.chair-details li:last-child {
  margin-bottom: 0;
}

.chair-img {
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 0px;
}

.chair-icon {
  width: 24px;
  height: 24px;
  stroke: #101d2c;
}

.chair-price {
  grid-column: 1 / -1;
  padding: 8px 20px;
  text-align: center;
  background-color: #101d2ce3;
  color: #fff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.btn--small {
  grid-column: 1 / -1;
  border-radius: 0;
  padding: 15px 20px;
  text-align: center;
}

.btn--small:hover {
  background-color: #b28451;
}

footer {
  padding: 8px 10px;
  background-color: #ddd;
  color: #777;
  text-align: center;
  font-size: 12px;
}
